@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html
	height: 100%
body
	height: 100%
	background-color: #e4ebf0
	//Custom Styles Here
.main
	width: 100%
	height: 100%
	background: linear-gradient(#013ca9,#001b48)
	position: relative
	.objects
		.object
			position: absolute
			
			background-color: rgba(255, 255, 255, .25)

			// 
			margin: 10px
			margin-top: 0
			&.small
				width: 50px
				height: 50px
			&.big
				width: 150px
				height: 150px
			&.b
				background: transparent
				border: 3px solid rgba(255, 255, 255, .25)
	.tringgle
		border-radius: 0 50px 50px 0
		// border-radius-left: 25px
	.round
		border-radius: 50px
	.welcome
		color: #fff
		font-family: MontserratBlack
		font-size: 2.1em
		text-transform: uppercase
		padding-left: 100px
		padding-top: 50px
	.container
		.apps
			padding: 40px 100px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			justify-content: space-between
			.app
				// display: block
				background-color: #fff
				height: 350px
				width: 30%
				border-radius: 2px
				background-color: #fff
				transition: all .2s ease-in-out
				box-shadow: 0 0 25px rgba(255, 255, 255,.3)
				// margin-right: 5%
				&:last-child
					margin-right: none
			.chat
				
				// &:hover
					// background-color: #593df5

				.wrp
					padding: 25px
					width: 100%
					p.wrp-img
						text-align: center
						img
					.description
						p
							color: #333
							font-size: 14px
							font-family: MontserratRegular
					.more
						background-color: #2700ff
						color: #fff
						width: 100%
						line-height: 40px
						text-align: center
						display: inline-block
						font-family: MontserratBold
						font-size: 14px
						text-decoration: none
						&:hover
							animation: animaBGCbutton 1.5s ease-in-out

						text-transform: uppercase
@keyframes animaBGCbutton
	0%
		background-color: #2700ff
	33%
		background-color: #002eec
	66%
		background-color: #6600ec
	100%
		background-color: #2700ff
//ALWAYS END
@import "media"
